 <mat-card>
    <form  #f="ngForm"
    (ngSubmit)="onReset()">
        

          <div class="form-group">
            <label for="password">Nouvelle mot de passe</label>
            <input
              type="text"
              class="form-control"
              name="newPassword"
              [(ngModel)]="form.newPassword"
              required
              #newPassword="ngModel"
              
            />
           
          </div>


          <div class="form-group">
            <label for="password">Confirmer mot de passe</label>
            <input
              type="text"
              class="form-control"
              name="cnfrPassword"
              [(ngModel)]="form.cnfrPassword"
              required
              #cnfrPassword="ngModel"
              
            />
           
          </div>
          <button mat-raised-button>Envoyer</button>
    </form>
</mat-card> 